*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* Force inheritence of this field */
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box; /*Border or padding is not added to total width or height of the box*/
}