.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        
        display: inline-block; /*Make the element have its own line/space */

        transition: all .2s;
        position: relative; /*So ::after can pivot here*/
        font-size: $default-font-size;
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black,.2); /*No offset in X, 10px offset in Y, 20px blur, 20% opacity black*/

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }

    }

    &:active {
        transform: translateY(-0.1rem); /*-1 relative to :link and :visited*/
        box-shadow: 0 0.5rem 1rem rgba($color-black,.2); /*No offset in X, 10px offset in Y, 20px blur, 20% opacity black*/
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &::after { 
        content: "";
        display: inline-block; /*Same as button*/
        height: 100%; /*This is treated as ::after being a child of .btn*/
        width: 100%;
        border-radius: 100px;
        position: absolute; /*Place behind of parent*/
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottom 1s .75s ease-out backwards;
    }
}


.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display:inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 6px;
        transition: all .2s;
    }

    &:hover {
        color: $color-white;
        background-color: $color-primary;
        box-shadow: 0 1rem 2rem rgba($color-black,.15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 2rem rgba($color-black,.15);
        transform: translateY(0);
    }
}